# openssl x509 extfile params
extensions = extend
# This prevent the user to be prompted for values
prompt = no

[extend] # openssl extensions
authorityKeyIdentifier=keyid,issuer

subjectKeyIdentifier=hash

subjectAltName = RID:2.999.12

keyUsage =critical, digitalSignature

certificatePolicies=critical,2.23.146.1.2.1.5

crlDistributionPoints=URI:http://ci.test.example.com/CRL-A.crl, URI:http://ci.test.example.com/CRL-B.crl

