[ req ]
prompt              = no
distinguished_name  = req_distinguished_name

[ req_distinguished_name ]
O       = RSPTEST

# DNS name shall be aligned with SGP.23 value #TEST_DS_ADDRESS1	= testsmds1.example.com
CN      = testsmds1.example.com

