#openssl x509 extfile params
extensions = extend
# This prevent the user to be prompted for values
prompt = no

distinguished_name = dn-param
[dn-param] # DN fields
O = ACME
CN = TEST SM-DP+

[extend] # openssl extensions