######################################################################################################################################################################
# Extensions for a DSTLS
keyUsage = critical, digitalSignature
# SGP.223:"CERT.DS.TLS certificate of the S_SM-DS with invalid 'extended key usage' extension (not set to any combination of 'id-kp-serverAuth' or 'id-kp-clientAuth'), formatted as X.509 certificate."
# Clear flag 'id-kp-serverAuth'
extendedKeyUsage = critical, clientAuth
#id-rspRole-ds-tls OBJECT IDENTIFIER ::= {id-rspRole 6}
certificatePolicies = 2.23.146.1.2.1.6
subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid:always,issuer

# RID shall be aligend with SGP.23 value S_SM_DS_OID	2.999.15
# DNS name shall be aligned with SGP.23 value ##TEST_ROOT_DS_ADDRESS
subjectAltName =  DNS:testrootsmds.example.com, RID:2.999.15

crlDistributionPoints=URI:http://ci.test.example.com/CRL-A.crl, URI:http://ci.test.example.com/CRL-B.crl

