[ req ]
prompt              = no
distinguished_name  = req_distinguished_name

[ req_distinguished_name ]
O       = RSPTEST

# shall be aligned with SGP.23 device tests value #TEST_ROOT_DS_ADDRESS
CN      = testrootsmds.example.com

